* {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 10px;
}

/* ----- BODY ----- */

body {
  background-image: url(harley.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

/* ----- NAVIGATION BAR ----- */

#nav {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  background-color: #76C5CF;
  background-size: cover;
}

#nav ul {
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-table;
}

#nav ul:after{
  content: "";
  clear: both;
  display: block;
}

#nav ul li {
  float: left;
  position: relative;
}

#nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: "Trocchi", serif;
}

#nav ul li:hover {
  background: #63ACB6;
}

#nav ul li:hover a {
  color: white;
}

#nav ul ul {
  display: none;
  background: #76C5CF;
  position: absolute;
  top: 100%;
  width: 200px;
}

#nav ul li:hover > ul {
  display: block;
}

#nav ul ul li {
  float: left;
  border-bottom: 1px solid white;
}

/* ----- HEADER ----- */

#header {
  height: 150px;
  margin-top: 10px;
  margin-bottom: 0;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

#header h1 {
  height: 60px;
  font-family: "Trocchi", serif;
  color: #3E2F1B;
  font-size: 80px;
}

#header h2 {
  padding-top: 30px;
  font-family: "Trocchi", serif;
  color: #644A26;

}

/* ----- SIGN UP FORM ----*/
.form {
  background:rgba(118, 197, 207, 0.8);
  padding: 10px;
  max-width:350px;
  margin:60px 60px;
  border-radius:20px;
  box-shadow:0 4px 10px 4px white;
}

.tab-content h1 {
  color: white;
  text-align: center;
  font-family: "Trocchi", serif;
}

#firstname label { /* first name */
  color: white;
  font-family: "Trocchi", serif;
  margin-left: 125px;
}

#firstname input { /* first name INPUT */
  color: white;
  font-family: "Trocchi", serif;
  margin-left: 95px;
}

#lastname label { /* last name */
  color: white;
  font-family: "Trocchi", serif;
  margin-left: 126px;
}

#lastname input { /* last name INPUT */
  color: white;
  font-family: "Trocchi", serif;
  margin-left: 95px;
}

#email label { /* email address */
  color: white;
  font-family: "Trocchi", serif;
  margin-left: 110px;
}

#email input { /* email address INPUT */
  color: white;
  font-family: "Trocchi", serif;
  margin-left: 95px;
}

#password label { /* password */
  color: white;
  font-family: "Trocchi", serif;
  margin-left: 105px;
}

#password input { /* password INPUT */
  color: white;
  font-family: "Trocchi", serif;
  margin-left: 95px;
}

.button_button-block {
  font-family: "Trocchi", serif;
  margin-left: 130px;
  margin-top: 10px;
}

#loginemail label { /* login email */
  color: white;
  font-family: "Trocchi", serif;
  margin-left: 110px;
}

#loginemail input { /* login email INPUT */
  color: white;
  font-family: "Trocchi", serif;
  margin-left: 95px;
}

#loginpassword label { /* login password */
  color: white;
  font-family: "Trocchi", serif;
  margin-left: 130px;
}

#loginpassword input { /* login password INPUT */
  color: white;
  font-family: "Trocchi", serif;
  margin-left: 95px;
}

.forgot {
  color: white;
  font-family: "Trocchi", serif;
  margin-left: 113px;
  margin-top: 10px;
  font-size: 13px;
}

#loginButton {
  font-family: "Trocchi", serif;
  margin-left: 145px;
  margin-top: 10px;
}
